:root {
  --jump-to-eye-url: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E eye %3C/title%3E%3Cpath d='M10 7.5a2.5 2.5 0 1 0 2.5 2.5A2.5 2.5 0 0 0 10 7.5zm0 7a4.5 4.5 0 1 1 4.5-4.5 4.5 4.5 0 0 1-4.5 4.5zM10 3C3 3 0 10 0 10s3 7 10 7 10-7 10-7-3-7-10-7z'/%3E%3C/svg%3E%0A");
}

#bga-jump-to-controls {
  position: fixed;
  top: 50vh;
  z-index: 5;
  user-select: none;
}
#bga-jump-to-controls.folded .bga-jump-to-link:not(.toggle) {
  display: none;
}
#bga-jump-to-controls .bga-jump-to-link {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color);
  margin: 10px 0;
  width: fit-content;
  cursor: pointer;
  height: 22px;
  padding: 2px 5px;
  background: white;
  color: var(--color);
}
#bga-jump-to-controls .bga-jump-to-link .bga-jump-to-label {
  background: var(--colorback);
}
#bga-jump-to-controls .bga-jump-to-link.round-point {
  border-radius: 0 11px 11px 0;
  padding-right: 11px;
}
#bga-jump-to-controls .bga-jump-to-link.hexa-point {
  border-right-width: 0;
}
#bga-jump-to-controls .bga-jump-to-link.hexa-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 11px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -11px;
  top: -2px;
}
#bga-jump-to-controls .bga-jump-to-link.hexa-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 9px solid white;
  content: "";
  position: absolute;
  right: -9px;
  top: 0px;
}
#bga-jump-to-controls .bga-jump-to-link.triangle-point {
  border-right-width: 0;
}
#bga-jump-to-controls .bga-jump-to-link.triangle-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -15px;
  top: -2px;
}
#bga-jump-to-controls .bga-jump-to-link.triangle-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid white;
  content: "";
  position: absolute;
  right: -13px;
  top: 0px;
}
#bga-jump-to-controls .bga-jump-to-link .eye {
  width: 20px;
  height: 20px;
  mask: var(--jump-to-eye-url) no-repeat center/contain;
  -webkit-mask: var(--jump-to-eye-url) no-repeat center/contain;
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color);
  display: inline-block;
  vertical-align: middle;
}
